TRELLO_API_USER_ID=trello-api-user-id
TRELLO_API_KEY=trello-api-key
TRELLO_API_TOKEN=trello-api-token
TRELLO_BOARD_ID=trello-board-id
PORT=port
TRELLO_LIST_ID=trello-list-id
TRELLO_BASE_URL=trello-base-url
JWT_SECRET=secret-para-autenticacao